
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    padding: 0;
    margin: 0;
}

#wrap { /*게임 전체적인 화면 조정*/
    position: relative;
    width:100%;
    height:100vh;
    background-image: url(./img/고양이\ 화면2.png);
    background-size: cover;
    background-position: center;
    overflow:hidden;
    display: none;
    
}
.game{
    display: none;
    font-family: 'BMDOHYEON', sans-serif;
}

.outer-container {
    display: flex;
    justify-content: space-between; /* 컨테이너들을 수평으로 배치 */
    width: 100%;
    margin-top: 20px;
}
.outer-container {
    position: relative;
        display: flex;
        justify-content: space-between; /* 컨테이너들을 수평으로 배치 */
        width: 100%;
        margin-top: 20px;
    }

    
   /* .container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
    padding-left: 40px;
    text-align: center;
    position: absolute;
       
    }*/

    

.left-text,.count {
    text-align: left;
}

.center-text {
    text-align: center;
}

.time3,.count {
    font-weight: bold;
    font-family: 'BMDOHYEON', sans-serif;
}

.time {
    font-size: 4rem;
    padding: 10px 0;
}

.count {
    font-size: 4rem;
    padding: 10px 0;
    text-align: left;
}

section.active { /*현재 보여지는 화면*/
    display: flex;
}

#game_canvas { 
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border: solid 2px black;
    
    
}

.container { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 17px;
    width: 470px;
    margin: auto;
    padding-top: 130px;
    
}

.gamestart { /*게임 시작 화면*/
    background-color: #000000a1;
    color: white;
    height:100vh;
    left: 0;
    padding: 65px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.starttime{ /*첫 시작 카운트*/
    position: relative;
    display: flex;
    justify-content:center;
    font-weight: bold;
    font-size:7rem;
    transform:translate(-50%, -50%);
    top:18%;
    left:50%;
}

.startgide{ /*첫 시작 카운트*/
    position: relative;
    display: flex;
    justify-content:center;
    font-family: 'BMDOHYEON', sans-serif;
    font-size:1.5rem;
    transform:translate(-50%, -50%);
    top:47%;
    left:50%;
}


.gameover { /*타임 아웃 화면*/
    background-color: #000000a1;
    color: white;
    height:100vh;
    left: 0;
    padding: 65px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    display: none;

}

.gameclear { /*타임 아웃 화면*/
    background-color: #000000a1;
    color: white;
    height:100vh;
    left: 0;
    padding: 65px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    display: none;

}

.gameover_inner { /*세부 메뉴 창*/
    position:relative;
    top:42%;
    left:50%;
    width:600px;
    height:500px;
    background-image: url(./img/스토리\ 배경.png);
    background-size: cover; 
    background-position: center; 
    transform:translate(-50%, -50%);
    border-radius:30px;
    padding: 30px 0 30px 0;
    opacity: 1;
}

.gameover_title { /*타임아웃 메시지*/
    position: absolute;
    font-size: 2.5rem;
    transform: translateX(76%);
    font-weight: bold;
    color: rgb(23, 22, 22);
    top: 24%;
    font-family: 'BMDOHYEON', sans-serif;
}

.gameclear_title { /*타임아웃 메시지*/
    position: absolute;
    font-size: 2.5rem;
    transform: translateX(65%);
    font-weight: bold;
    color: rgb(23, 22, 22);
    top: 24%;
    font-family: 'BMDOHYEON', sans-serif;
}

.box{ 
    width: 180px;
    height: 180px;
    background-image: url(./img/고양이\ 아웃.png);
    background-size: cover; 
    background-position: center; 
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box21{ 
    width: 260px;
    height: 260px;
    background-image: url(./img/고양이\ 클리어.png);
    background-size: cover; 
    background-position: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box25{ 
    width: 560px;
    height: 280px;
    background-image: url(./img/고양이\ 가이드.png);
    background-size: cover; 
    background-position: center; 
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box2 {
    position: relative;
    width: 90px;
    height:90px;
    background-color: #A52030;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    padding: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

button{ /*다시하기, 돌아가기 버튼*/
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    position: absolute;
    transform: translateX(-50%);
    font-size: 14px;
    text-decoration: none;
    padding: 15px 35px;
    top: 71%;
}

.b1{
    margin-left: 75px;
}

.b2{
    margin-left: -75px;
}



button:hover {
    background-color: #858585;
}



