@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#wrap3 { /*게임 전체적인 화면 조정*/
    position: relative;
    width:100%;
    height:100vh;
    background-image: url(./img/연못.png);
    background-size: cover;
    background-position: center;
    overflow:hidden;
    display: none;
    
}
.game3{
    display: none;
    font-family: 'BMDOHYEON', sans-serif;
}

.outer-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
    }
    .outer-container {
        position: relative;
            display: flex;
            justify-content: space-between; 
            width: 100%;
            margin-top: 20px;
        }

        
        .container3{
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 10px;
        padding-left: 40px;
        text-align: center;
        position: absolute;
           
        }

        .container2 {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 100%;
        
        }

    .left-text,.count3 {
        text-align: left;
    }

    .center-text {
        text-align: center;
    }

    .time3,.count3 {
        font-weight: bold;
        font-family: 'BMDOHYEON', sans-serif;
    }

    .time3 {
        font-size: 4rem;
        padding: 10px 0;
    }

    .count3 {
        font-size: 4rem;
        padding: 10px 0;
        text-align: left;
    }

section.active { 
    display: flex;
}

#game_canvas3 {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    
}

.gamestart3 { /*게임 시작 화면*/
background-color: #000000a1;
color: white;
height:100vh;
left: 0;
padding: 65px 0;
position: absolute;
text-align: center;
top: 0;
width: 100%;

}

.starttime3{ /*첫 시작 카운트*/
    position: relative;
    display: flex;
    justify-content:center;
    font-weight: bold;
    font-size:7rem;
    transform:translate(-50%, -50%);
    top:18%;
    left:50%;
}
.startgide2{ /*첫 시작 카운트*/
    position: relative;
    display: flex;
    justify-content:center;
    font-family: 'BMDOHYEON', sans-serif;
    font-size:1.5rem;
    transform:translate(-50%, -50%);
    top:52%;
    left:50%;
}
.box26{ /*이미지나 텍스트 위치*/
    width: 400px;
    height: 280px;
    background-image: url(./img/학\ 가이드.png);
    background-size: cover; 
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameover3 {
background-color: #000000a1;
color: white;
height:100vh;
left: 0;
padding: 65px 0;
position: absolute;
text-align: center;
top: 0;
width: 100%;
display: none;

}

.gameclear3 { 
background-color: #000000a1;
color: white;
height:100vh;
left: 0;
padding: 65px 0;
position: absolute;
text-align: center;
top: 0;
width: 100%;
display: none;

}

.gameover_inner3 {
    position:relative;
    top:42%;
    left:50%;
    width:600px;
    height:500px;
    background-image: url(./img/스토리\ 배경.png);
    background-size: cover; 
    background-position: center;
    transform:translate(-50%, -50%);
    border-radius:30px;
    padding: 30px 0 30px 0;
    opacity: 1;
}

.gameover_title3 {
    position: absolute;
    font-size: 2.5rem;
    transform: translateX(79%);
    font-weight: bold;
    color: rgb(23, 22, 22);
    top: 25%;
    font-family: 'BMDOHYEON', sans-serif;
}

.gameclear_title3 { /*타임아웃 메시지*/
    position: absolute;
    font-size: 2.5rem;
    transform: translateX(65%);
    font-weight: bold;
    color: rgb(23, 22, 22);
    top: 25%;
    font-family: 'BMDOHYEON', sans-serif;
}

.box6{ 
    width: 210px;
    height: 150px;
    background-image: url(./img/홍학\ 성공.png);
    background-size: cover; 
    background-position: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box23{ 
    width: 150px;
    height: 160px;
    background-image: url(./img/홍학\ 실패.png);
    background-size: cover; 
    background-position: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#box7{ 
   position:absolute;
   bottom:0px;
   width:200px;
   height:200px;
   background-image: url(./img/물고기1\(r\)\ \(1\).png);
   background-size: cover;
   background-position: center;
   border-radius:50%;
   animation: moveUpAndDown 2s infinite;
   animation-delay: 2.6s;
   
}

@keyframes moveUpAndDown {
    0% {
       left:0px;
       bottom: 0px;
       transform: rotate(0deg);
   }

   25% {
        bottom: 180px; 
   }

   95% {
        bottom: -300px; 
        
   }

   100% {
         left:600px;
         bottom: -300px; 
         transform: rotate(150deg);
   }
}

#box8{ 
   position:absolute;
   bottom:0px;
   width:200px;
   height:200px;
   background-image: url(./img/물고기1.png);
   background-size: cover;
   background-position: center;
   border-radius:50%;
   animation: moveUpAndDown2 1.8s infinite;
   animation-delay: 2.5s;
   
}

@keyframes moveUpAndDown2 {
    0% {
       right:0px;
       bottom: 0px;
       transform: rotate(0deg);
   }

   25% {
        bottom: 230px; 
   }

   95% {
        bottom: -300px; 
   }

   100% {
         right:600px;
         bottom: -300px; 
         transform: rotate(-130deg);
   }

}


#box9{ 
   position:absolute;
   bottom:0px;
   width:200px;
   height:200px;
   background-image: url(./img/물고기1\(o\)\ \(2\).png);
   background-size: cover;
   background-position: center;
   border-radius:50%;
   animation: moveUpAndDown3 2s infinite;
   animation-delay: 0.8s;
   
}

@keyframes moveUpAndDown3 {
    0% {
       right:300px;
       bottom: 0px; 
       transform: rotate(0deg);
   }

   25% {
        bottom: 120px; 
   }

   95% {
        bottom: -150px; 
   }

   100% {
         right:900px;
         bottom: -300px; 
         transform: rotate(-120deg);
   }

}

#box10{ 
   position:absolute;
   bottom:0px;
   width:200px;
   height:200px;
   background-image: url(./img/물고기1\(r\)\ \(1\).png );
   background-size: cover;
   background-position: center;
   border-radius:50%;
   animation: moveUpAndDown4 2s infinite;
   animation-delay: 0.5s;
   
}

@keyframes moveUpAndDown4 {
    0% {
       left:500px;
       bottom: 0px; 
       transform: rotate(0deg);
   }

   25% {
        bottom: 100px; 
   }

   95% {
        bottom: -180px; 
   }

   100% {
         left:1200px;
         bottom: -300px; 
         transform: rotate(120deg);
   }

}

#box11{ 
   position:absolute;
   bottom:0px;
   width:200px;
   height:200px;
   background-image: url(./img/물고기1\(o\)\ \(3\).png);
   background-size: cover;
   background-position: center;
   border-radius:50%;
   animation: moveUpAndDown5 2s infinite;
   animation-delay: 0s;
   
}

@keyframes moveUpAndDown5 {
    0% {
       left:100px;
       bottom: 0px; 
       transform: rotate(0deg);
   }

   25% {
        bottom: 220px; 
   }

   95% {
        bottom: -180px; 
   }

   100% {
         left:600px;
         bottom: -300px; 
         transform: rotate(130deg);
   }

}




.b2{
    margin-left: -75px;
}

button:hover {
    background-color: #858585;
}